<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <title>vue-todolist</title>
</head>
<body>

    <div id="app">
        <div class="container  d-flex flex-column align-items-center">
        
            <header>
                <h1 class="title my-5">TO DO LIST</h1>
                <div class="btn-group" role="group" aria-label="Basic example">
                       
                    
                    
                </div>
            </header>

            <main class="d-flex flex-column align-items-center">
                <div class="input-group input-group-lg">
                
                    <input type="text" placeholder="nuovo item" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" v-model="newTask "@keyup.enter="addItem">
                    <button type="button" class="btn btn-primary" @click="addItem" >aggiungi</button>

                </div>

                <div class="error" v-if="error">
                    <small >devi inserire almeno 5 caratteri</small>
                </div>

                <div class="list-item">
                    <ul v-if="tasks.length > 0" >
                        <li class="item" v-for =' (item, index) in tasks'> {{item.text}}
                        <i @click="removeItem(index)" class="fa-solid fa-circle-xmark"></i></li>
                    </ul>
                    <span v-else>
                       
                    </span>
                    
                </div>
            </main>

        </div>
    
    </div>
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="main.js"></script>
</body>
</html>